[Unit]
Description=Framework Laptop 16 Keyboard Backlight Daemon
After=modprobe@uleds.service
After=systemd-modules-load.service

[Service]
Type=simple
ExecStart=@out@/bin/fw16-kblight-daemon

ProtectSystem=strict
ProtectHome=yes
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectKernelLogs=true
ProtectControlGroups=true
PrivateIPC=true
PrivateUsers=yes
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
LockPersonality=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target